body {

    font-family: "Poppins", sans-serif;

}


#margem {

    border: 1px solid rgb(226, 226, 226);
    width: 650px;
    height: 755px;
    border-radius: 15px 15px;

    position: fixed;
    top: calc(50% - 750px /2);
    left: calc(50% - 650px /2);

    background-color: rgb(160, 160, 160);

}

#superior {

    border: none;
    width: 600px;
    height: 90px;
    border-radius: 15px 15px;

    position: fixed;
    margin-left: 25px;
    margin-top: 25px;

    background-color: rgb(29, 29, 29);

}

#navegacao {

    border: none;
    width: 150px;
    height: 600px;
    border-radius: 15px 15px;

    position: fixed;
    margin-left: 25px;
    margin-top: 130px;
    padding: 0px;

    background-color: rgb(29, 29, 29);

}

#hero {

    border: none;
    width: 430px;
    height: 150px;
    border-radius: 15px 15px;

    float: right;
    margin-top: 130px;
    margin-right: 23px;

    background-color: rgb(29, 29, 29);

}

#principal {

    border: none;;
    width: 430px;
    height: 300px;
    border-radius: 15px 15px;

    float: right;
    margin-top: 20px;
    margin-right: 23px;

    background-color: rgb(29, 29, 29);


}

#section1 {

    border: none;
    width: 100px;
    height: 100px;
    border-radius: 15px 15px;

    position: fixed;
    margin-top: 20px;
    margin-left: 25px;

    background-color: white

}

#section2 {

    border: none;
    width: 100px;
    height: 100px;
    border-radius: 15px 15px;

    position: fixed;
    margin-top: 20px;
    margin-left: 164px;

    background-color: white;

}

#section3 {

    border: none;
    width: 100px;
    height: 100px;
    border-radius: 15px 15px;

    float: right;
    margin-top: 20px;
    margin-right: 25px;

    background-color: white;

}


#final {

    border: none;
    width: 430px;
    height: 106px;
    border-radius: 15px 15px;

    float: right;
    margin-top: 20px;
    margin-right: 23px;
    
    background-color: rgb(29, 29, 29);

}



#playlist {

    width: 200px;
    height: 25px;
    border-radius: 15px 15px;
    background-color: white;
    margin-left: 120px;
    margin-top: 35px;
    border: none;
    padding-left: 30px;



}


#lupa {

    width: 15px;
    height: 15px;
    margin-left: 112px;
    margin-top: -26px;   

}


.material-symbols-outlined {

    margin-left: 10px;
    margin-top: 1px;
    cursor: pointer;

}

#profile {

    width: 25px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    float: right;
    border-radius: 50%;
    margin-right: 170px;
    margin-top: -15px;
    cursor: pointer;

}


#pessoa {

    color: rgba(202, 202, 202, 0.63);

}


#profileText {

    margin-left: 30px;
    color: white;
    font-size: 12px;
    margin-top: 5px;
    width: 100px;
    cursor: pointer;
    
}

#pessoa {

    margin-top: -23px;
    margin-left: -9px;

}




#Browse {

    color: white;
    padding-left: 10px;
    margin-top: 25px;
    font-size: 14px;

    border-left: 5px solid green;


}

#library {

    color: rgb(197, 197, 197);
    margin-top: 20px;
    margin-left: 15px;
    font-size: 12px;

}

#menu {

    color: white;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 15px;
    cursor: pointer;


}

li {

    list-style-type: none;
    padding-bottom: 10px;

}



#MenuPlaylist{

    margin-top: 15px;
    margin-left: 15px;
    font-size: 12px; 

}


#MPlaylist {

    color: rgb(197, 197, 197);
    margin-top: 15px;
    margin-left: 15px;
    font-size: 12px;

}

#MenuPlaylist li {

    color: white;
    cursor: pointer;

}

#AddPlaylist {

    color: white;
    margin-top: 135px;
    margin-left: 5px;
    cursor: pointer;

}

#NewPlay {

    font-size: 12px;
    color: rgb(197, 197, 197);
    margin: 5px ;
    margin-top: 12px;
    float: left;
    width: 80px;


}

#linha {

    width: 150px;
    height: 1px;
    background-color: rgb(94, 93, 93);
    margin-left: -5px;
}

#Botao {

    margin-top: 7px;
    margin-left: 5px;
    cursor: pointer;
   /* background-color: yellow;*/
    float: left;

}

#menu li {

    width: 125px;

}

#menu li a {

    text-decoration: none;
    color: inherit;
    display: block;
    border-radius: 15px 15px;
    
}

#menu li a:hover{

    background-color: gray;
    
}

#MenuPlaylist li {

    width: 125px;

}

#MenuPlaylist li a {

    text-decoration: none;
    color: inherit;
    display: block;
    border-radius: 15px 15px;
    
}

#MenuPlaylist li a:hover{

    background-color: gray;
    
 }


 #pause {

    color: white;
    width: 15px;
    height: 15px;
    margin-top: 45px;
    margin-left: 182px;
    cursor: pointer;

 }

 #pause:hover {

    color: grey;

 }


 #barrinha {

    background-color: grey;
    width: 310px;
    height: 2px;
    margin-left: 65px;
    margin-top: 20px;
    border-radius: 15px 15px;
    cursor: pointer;

 }

 #barrinha2 {

    background-color: white;
    width: 12px;
    height: 2px;
    margin-top: 20px;
    border-radius: 15px 15px;
    cursor: pointer;

 }

 #skipN {

    color: white;
    width: 15px;
    height: 15px;
    float: right;
    margin-right: 186px;
    margin-top: 45px;
    cursor: pointer;

 }

 #bolinha {

    width: 30px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    margin-left: 2px;
    margin-top: -6px;

 }

 #skipN:hover {

    color: grey;

 }


 #skipB {

    color: white;
    width: 15px;
    height: 15px;
    margin-left: 136px;
    margin-top: -14px;
    cursor: pointer;

 }

 #skipB:hover {

    color: grey;

 }

#barrinha:hover {

    width: 320px;
    height: 3px;

}

#barrinha2:hover {

    width: 22px;
    height: 3px;

}

#bolinha:hover{

    background-color: white;
    width: 12px;
    height: 11px;

}


#profile a{

    text-decoration: none;
    color: inherit;

}

#profileText:hover{

    background-color: rgba(128, 128, 128, 0.185);
    width: 110px;
    height: 18px;
    border-radius: 30px 30px; 

}





h1 {

    color: white;
    margin-left: 25px;
    margin-top: 30px;
    font-size: 30px;

}

#BrowseList li a {

    text-decoration: none;
    color: white;

}

#BrowseList li {

    float: left;
    margin: 10px;
    font-size: 11px;

}

#BrowseList {

    margin-left: 15px;
    margin-top: -18px;

}

#BrowseList li a:hover {
    
    border-bottom: 3px solid green;


}



h2 {

    color: white;
    font-size: 20px;
    margin-left: 25px;
    margin-top: 30px;

}


#titulo {

    color: white;
    font-size: 10px;
    margin-top: 110px;
    margin-left: 5px;
    float: left;
    width: 120px;
    height: 10px;
    cursor: pointer;
    

}

#descricao {

    color: rgb(197, 197, 197);
    font-size: 8px;
    margin-top: 70px;
    margin-left: 5px;
    width: 100px;
    height: 0;
    
}

#section1:hover{

    padding: 1px;
    width: 105px;
    height: 105px;
    transform: scale(1.05);
    transition: 0.5s;
    background-color: grey;
    cursor: pointer;

}


#section2:hover{

    padding: 1px;
    width: 102px;
    height: 103px;
    background-color: grey;
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
    
}


#section3:hover{

    padding: 1px;
    width: 105px;
    height: 105px;
    transform: scale(1.05);
    transition: 0.5s;
    background-color: grey;
    cursor: pointer;
    
}





 